<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>My goals</h1>
    <ul>
      <li>Never give up!</li>
      <li>Dream until your dream's come true!</li>
      <li>
        Death is not scary. The terrible and painful pain it brings to your
        loved ones.
      </li>
    </ul>
  </body>
</html>
