<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      Розробити програму з такими функціональними можливостями: обробка
      статичних маршрутів:
    </div>
    <ul>
      <li><b>“/”</b> Вітання користувача</li>
      <li><b>“/goals”</b> Ваші цілі</li>
    </ul>

    <div>обробка статичних файлів:</div>
    <ul>
      <li><b>about</b> містить тему та умову задачі</li>
      <li><b>news</b> містить перелік важливі новини (для Вас)</li>
    </ul>

    <div>обробка параметрів запитів:</div>
    <div>
      <b>/info/:myLinks</b> у залежності від значення параметра повертає
      сторінку з :
    </div>
    <ul>
      <li><b>«sites»></b> - адресами улюблених сайтів</li>
      <li><b>«films»</b> - адреси улюблених онлайн кінотеатрі</li>
      <li><b>«me»</b> -або інформацію про себе</li>
    </ul>
  </body>
</html>
