<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>News</h1>
    <div>
      In 2024, CSS is evolving with new features and trends that aim to make web
      design more flexible, responsive, and user-friendly. Here's a quick
      overview of what to expect:
    </div>
    <ul>
      <li>
        Container Queries: A game-changer for responsive design, allowing
        components to adapt based on their own size.
      </li>
      <li>
        New Color Systems (LCH, LAB, HWB): Offering more control and options for
        vibrant designs
      </li>
      <li>
        CSS Variables Enhancements: For dynamic theming and easier design system
        integration
      </li>
      <li>
        Subgrid: Making CSS Grid layouts even more powerful and easier to
        manage.
      </li>
      <li>
        Variable Fonts: Allowing for more responsive and efficient typography.
      </li>
    </ul>

    <div style="font-size: 32px; color: red">
      I'm waiting for russia to lose!!!!!
    </div>
  </body>
</html>
