<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <h1 class="main__title">Welcome to my head!</h1>
      <a href="/tasks" class="main__button">tasks list</a>
    </div>
  </body>
</html>
