<!DOCTYPE html>
<html>
  <head>
    <title>BestShop</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="index">
      <h1>Welcome to <b>BestShop</b></h1>
      <div class="buttons">
        <a href="/pages/about.html" class="button">About Us</a>
        <a href="products" class="button">Products list</a>
        <a href="addProducts" class="button">Add product</a>
      </div>
    </div>
  </body>
</html>
