<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="product">
      <h1>Product list</h1>
      <table>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Remainder</th>
        </tr>
        <%for(product of productsList) {%>
        <tr>
          <td><%=product.name%></td>
          <td><%=product.price%></td>
          <td><%=product. remainder%></td>
        </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
