<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Who i'm?</h1>
    <ul>
      <li>I'm Ukrainian!</li>
      <li>I'm a frontend developer.</li>
      <li>I'm a fullstack developer in the future.</li>
    </ul>
  </body>
</html>
