<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
  </head>
  <body>
    <h1>My favorite sites</h1>
    <ul>
      <li>http://127.0.0.1:3000/</li>
      <li>https://www.youtube.com/@vivaldi-it</li>
      <li>https://www.upwork.com/</li>
      <li>https://linkedin.com/in/iurii-bespalko-4b0718276</li>
    </ul>
  </body>
</html>
